= form_for @couch_i18n_store do |f|
  = render 'shared/error_messages', :target => @couch_i18n_store
  .field
    = f.label :key
    = f.text_field :key, :size => 70
  .field
    = f.label :value
    = f.text_field :value, :size => 70
  .actions
    = f.submit @submit || update_button_text
