!!!
%html
  %head
    %title= defined?(site_title) ? site_title : I18n.t('couch_i18n.general.site_title')
    /[if lt IE 9]
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js" type="text/javascript"></script>
    = csrf_meta_tags
    = stylesheet_link_tag 'couch_i18n/application'
    = javascript_include_tag 'couch_i18n/application'
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0"}
    = yield :head
  %body
    - if defined?(Cmtool)
      = render 'cmtool/application/menu'
    - else
      .navbar.navbar-fixed-top
        .navbar-inner
          .container
            %a.btn.btn-navbar{data: {toggle: "collapse", target: ".nav-collapse"}} 
              %span.icon-bar
              %span.icon-bar
              %span.icon-bar
            %a.brand{href: couch_i18n.root_path}= yield :title
    .container
      = render 'alerts'
      = yield
      .form-actions=yield :page_links
